<div class="container">
  <h2>Listado de publicaciones</h2>

  <div *ngIf="isLoading">Cargando publicaciones...</div>

  <table *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Título</th>
        <th>Usuario</th>
        <th>Contenido</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.title }}</td>
        <td>{{ post.userId }}</td>
        <td>{{ post.body }}</td>
        <td class="actions">
          <a [routerLink]="['/posts/view', post.id]" title="Ver publicación">
            <iconify-icon icon="mdi:eye-outline" class="icon action-icon"></iconify-icon>
          </a>

          <a [routerLink]="['/posts/edit', post.id]" title="Editar publicación">
            <iconify-icon icon="mdi:pencil-outline" class="icon action-icon"></iconify-icon>
          </a>

          <button (click)="post.id && deletePost(post.id)" title="Eliminar publicación">
            <iconify-icon icon="mdi:trash-can-outline" class="icon danger-icon"></iconify-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a routerLink="/posts/create" class="fab" title="Nueva publicación">
  <iconify-icon icon="mdi:plus" class="icon fab-icon"></iconify-icon>
</a>
