<div class="form-container">
  <h2>
    <iconify-icon
      [icon]="isEdit ? 'mdi:pencil-outline' : 'mdi:plus-circle-outline'"
      class="icon header-icon"
    ></iconify-icon>
    {{ isEdit ? 'Editar Publicación' : 'Nueva Publicación' }}
  </h2>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userId">Usuario ID:</label>
      <input id="userId" type="number" formControlName="userId" />
      <div class="error" *ngIf="postForm.get('userId')?.invalid && postForm.get('userId')?.touched">
        Usuario requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="title">Título:</label>
      <input id="title" type="text" formControlName="title" />
      <div class="error" *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">
        Título requerido (mínimo 5 caracteres).
      </div>
    </div>

    <div class="form-group">
      <label for="body">Contenido:</label>
      <textarea id="body" rows="6" formControlName="body"></textarea>
      <div class="error" *ngIf="postForm.get('body')?.invalid && postForm.get('body')?.touched">
        Contenido requerido.
      </div>
    </div>

    <button type="submit" [disabled]="postForm.invalid">
      <iconify-icon
        [icon]="isEdit ? 'mdi:content-save-edit-outline' : 'mdi:content-save-outline'"
        class="icon button-icon"
      ></iconify-icon>
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </button>

    <a routerLink="/posts">
      <iconify-icon icon="mdi:arrow-left" class="icon button-icon"></iconify-icon>
      Cancelar
    </a>
  </form>
</div>
